body{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}
h2 {
    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
span{
    color: pink;
}
p{
    padding: 0px 15px 0px 15px;
}
 hr {
       border: dotted #eaf6f6 6px;
     border-bottom: none;
    width: 4%;
     margin: 100px auto;
 }
 .parent {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
h3 {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
}
.btn{
text-decoration: none;
height: 500px;
width: 500px;
background: #000;
font-size: 30px;
}
.bottom-container {
    background-color: #66bfbf;
    padding: 50px 0 20px;
}
a {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}
